apache-airflow==2.7.1
pendulum==2.1.2
pyspark
streamlit
pandas
apache-airflow-providers-postgres
apache-airflow-providers-apache-spark
psycopg2-binary
sqlalchemy
psycopg2-binary
pandas
snowflake-connector-python[pandas]  # High-performance data transfer
snowflake-sqlalchemy                 # For engine-based SQL execution
pandas
pyyaml